PySide6>=6.7
geopandas>=1.0
shapely>=2.0
pyproj>=3.6
xarray>=2024.1
netCDF4>=1.6
numpy>=1.26
pandas>=2.1
requests>=2.31
dask>=2024.1

matplotlib>=3.8

fiona>=1.9

scipy>=1.11

xyzservices>=2024.9
Pillow>=10.0
